@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

@import "tailwindcss";


@theme{
  --color-scarlet: oklch(0.56 0.1512 22.42);
  --color-weak-scarlet: oklch(0.64 0.1512 22.42);
  --color-paper: oklch(0.93 0.0347 88.78);
  --color-dark-paper: oklch(0.89 0.0347 88.78);
  --color-lime: oklch(0.79 0.1465 123.64);
  --color-fern: oklch(0.63 0.1166 134.9);
  --color-forest: oklch(0.47 0.0784 148.94);
  --color-lapis: oklch(0.56 0.0781 237.98);
  --color-weak-lapis: oklch(0.64 0.0781 237.98);

  --font-roboto: "Roboto Flex", "sans-serif";

  --animate-smooth: smooth transition-all 1s ease-in-out;
  @keyframes smooth {
    0%, 
    100% {
      
    }
  }

  @keyframes slide-right {
    0% {
      opacity: 0.0; 
      transform: translateX(25px);
    }, 
    50% {
      opacity: 0.3;
    },
    100% {
      opacity: 1.0;
      transform: translateX(0);
    }
  }
  --animate-slide-right: 0.6s slide-right ease-in-out;
  
  @keyframes slide-left {
    0% {
      opacity: 1.0; 
      transform: translateX(0px);
    }, 
    100% {
      opacity: 0.0;
      transform: translateX(20px);
    }
  }
  --animate-slide-left: 1s slide-left ease-in-out;


  @keyframes fade-left {
    0% {
      opacity: 1.0; 
      transform: translateX(0);

    }, 
    100% {
      opacity: 0;
      transform: translateX(-10px);
    }
  }
  --animate-fade-left: 0.4s fade-left ease-in-out;

  @keyframes fade-down {
    0% {
      opacity: 1.0; 
      transform: translateY(0);

    }, 
    100% {
      opacity: 0;
      transform: translateY(-100px);
    }
  }
  --animate-fade-down: 0.5s fade-down ease-in-out;
}
@layer base{
  #root{
    height:100vh;
  }
  body{
    min-height: 100vh;  
    background-color: var(--color-paper);
    

  }
}

/* transition-all duration-300 ease-in-out */